[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
    ignore = dirty
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/nuclearsandwich/vim-latex.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/autocorrect.vim"]
	path = bundle/autocorrect.vim
	url = https://github.com/vim-scripts/autocorrect.vim.git
