[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[user]
	name = Ismael Mejia
	email = iemejia@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	editor = emacs
	autocrlf = input
	safecrlf = true
[include]
	path = ~/.github

